* {
    box-sizing: border-box;
}

body {
    margin: auto;
    background-color: #fff;
}

#main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#shopping-cart {
    position: relative;
    box-shadow: inset gray 0px 0px 15px;
}

#shopping-cart-content {
    text-align: center;
    display: none;
    padding-bottom: 20px;
    border-bottom: 4px solid black;
}

#shopping-cart-table {
    margin: auto;
    margin-bottom: 15px;
}

#shopping-cart-table td {
    padding-left: 40px;
    padding-right: 40px;
}

#header-container {
    display: flex;
    padding: 20px;
    background-color: red;
    border-bottom: 4px solid black;
}

#header-title {
    font-size: xx-large;
    filter: drop-shadow(1px 1px 0px white);
}

#dark-mode-button {
    margin-top: 10px;
}

.header-image {
    height: 150px;
    width: 150px;
    border-radius: 100%;
    background-color: white;
    border: 2px solid black;
}

.header-text {
    width: 50%;
    margin: auto;
}

.buy-button {
    border-radius: 100%;
    border: 3px solid black;
    width: 60px;
    height: 55px;
    font-size: 16px;
    font-weight: 500;
    margin: 8px;
}

.buy-button:hover {
    background-color: gold;
}

.buy-button:active {
    background-color: white;
}

.card {
    width: 20%;
    margin: 20px;
    background-color: red;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0px 2px 3px black;
}

.card-figure {
    width: 100%;
    border-radius: 20px;
    box-shadow: 0px 1px 2px gray;
    margin: auto;
    background-color: #fff;
}

.card-title {
    font-size: x-large;
    font-weight: 600;
}

.card-price {
    font-size: 18px;
    font-weight: bold;
    background-color: white;
    border-radius: 15px;
    width: 90%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    color: black;
}

.card-image {
    height: 150px;
    width: 150px;
    margin: auto;
}

.clear-cart-button {
    margin-top: 20px;
    margin-bottom: 10px;
}

.cart-amount-input {
    margin-left: 5px;
    width: 50px;
    text-align: right;
}

.dark-mode {
    background-color: black !important;
    color: gold;
    border-color: gold !important;
}

.shopping-basket {
    text-align: center;
    margin: auto;
}

.shopping-basket-button {
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 60px;
    height: 60px;
    border-radius: 100%;
    padding: 5px;
    margin: 0;
    border: 4px solid black;
    box-shadow: 0 0 4px black;
    margin: auto;
}

.shopping-basket-button:hover {
    background-color: darkgray !important;
}

.span-item {
    margin-left: 5px;
    padding: 5px;
    border-radius: 5px;
}

.price-paragraph {
    font-size: 18px;
    font-weight: bold;
}

.remove-button {
    color: red;
    border: none;
    float: left;
    margin: auto;
    background-color: transparent;
}

@media (max-width: 1024px) {
    .card {
        width: 28%;
    }

    .shopping-basket-button {
        width: 45px;
        height: 45px;
        bottom: -22px;
    }
}

@media (max-width: 760px) {
    #header-container {
        flex-direction: column;
        margin: auto;
        text-align: center;
    }

    #shopping-cart-table td {
        padding-left: 5px;
        padding-right: 5px;
    }

    .card {
        width: 40%;
    }
}

@media (max-width: 480px) {
    .card {
        width: 90%;
    }
}