body {
    background-color: black;
}

main {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.square {
    width: 18px;
    height: 18px;
}

.floor {
    background-color: beige;
}

.wall {
    background-color: darkgray;
}

.player {
    background-color: green;
}

.treasure {
    background-color: yellow;
}

.whitespace {
    background-color: #000;
}