body {
    background-color: black;
}

main {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.square {
    width: 50px;
    height: 50px;
    background-size: contain;
}

.floor {
    background-image: url("./images/water-tile.png");
}

.wall {
    background-image: url("./images/sand-tile.png");
}

.player {
    background-image: url("./images/player.gif");
}

.treasure {
    background-image: url("./images/target.png");
}

.whitespace {
    background-color: #000;
}